@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}

header{
    position: relative;
}

header ul {
    position: absolute;
    top: 20px;
    left: 20px;
}

header h1 {
    position: absolute;
    top: 10px;
    right: 45%;
}


ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

main {
    position: relative;
    top: 60px;
    height: 400px;
    width: 100%;
}
.cards {
    height: 450px;
    width: 500px;
    border: 2px solid rgb(116, 114, 114);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.cards h2 {
    padding: 10px;
    text-align: center;
}

.cards h3 {
    padding: 10px 20px;
}

.cards ul {
    list-style: square;
}

#estudios {
    position: absolute;
    top: 50px;
    left: 10%;
}

#experiencia {
    position: absolute;
    top: 50px;
    right: 10%;
}