@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}

#banner {
    background-image: url('../img/wallpaper.jpg'), url('../img/wallpaper.jpg');
    background-position: center;
    background-size: 50%, cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 1;
    border: 2px solid black;
}

#photo {
    background-image: url('../img/Selfie-MouraElias.jpeg');
    background-position: center;
    background-size: 130px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 44.5%;
    z-index: 2;
}

ul {
    position: absolute;
    top: 5%;
    z-index: 2;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

footer {
    background-image: url('../img/wallpaper.jpg');
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

footer ul {
    position: absolute;
    top: 30%;
    left: 45%;
}
