@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 1024px;
}

#top {
    background-color: #1CD1B0;
    font-size: 1.5em;
    height:38px;
}

#top p {
    left: 10px;
    position: absolute;
    top: 10px;
}

header {
    background-color: #00669F;
    box-shadow: 0px 5px 25px 0px #879095;
    height: 101px;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    left: 28px;
    position: absolute;
    top: 66px;
}

.cards {
    position: relative;
    top: 150px;
    left: 15%;
    /* height: 65vh; */
    /* width: 80vw; */
    width: 960px;
    height: 530px;
}

#card1, #card2, #card3 {
    height: 500px;
    width: 300px;
}

#card1 {
    position: absolute;
    top: 15px;
    left: 15px;
}

#card2 {
    position: absolute;
    top: 15px;
    left: 330px;
}

#card3 {
    position: absolute;
    top: 15px;
    left: 645px;
}

.background {
    height: 193px;
    background-color: salmon;
    border-radius: 16px 16px 0px 0px;
    position: relative;
}
.background.batman {
    background-image: url('../img/background1.png');
}

.background.harly {
    background-image: url('../img/background2.png');
}

.background i {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5em;
    color: #CC2424;
}

.description {
    height: 307px;
    background-color: #F3F3F3;
    position: relative;
    text-align: center;
}

.description img {
    position: absolute;
    border-radius: 50%;
    height: 122px;
    top: -70px;
    left: 90px;
}

.description h2 {
    position: relative;
    top: 70px;
    font-size: 3.5em;
    text-transform: uppercase;
}

.description .text {
    position: relative;
    top: 60px;
    padding: 15px;
    text-align: left;
    font-size: 1.6em;
}

.description .boton {
    position: relative;
    top: 155px;
    background-color: #00669F;
    color: #ffffff;
    width: 128px;
    left: 90px;
}

.description p {
    position: relative;
    top: 13px;
    height: 48px;
    font-size: 1.8em;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #00669F;
    height: 51px;
    width: 99vw;
}

footer p {
    color: #ffffff;
    position: relative;
    font-size: 1.9em;
    top: 14px;
    left: 16px;
}
